.container {
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.logo {
    display: flex;
    img {
        height: 180px;
        width: 180px;
    }

    h1 {
        font-size: 60px;
        margin-left: 60px;
    }
}
